body{
    background-color:lightgray ;
}
table{
    background-color: rgba(95, 95, 95, 0.973);
     border: 2px solid black;
     margin: auto;
     font-family: 'Bungee Spice', sans-serif;
     padding-top: 25px;
     padding-bottom: 25px;
     border-radius: 20px;
     text-align: center;
     
 }
 .angol{
    background-color: rgb(1, 2, 17);

}

.hét{
background-color: black;
border-radius: 20px;

}

.ora{
background-color: rgb(80, 68, 68);   
border-radius: 20px; 
}